.text-dark {
    color: #000;
}
.text-red {
    color: var(--primary-red);
}
.text-white {
    color: #fff;
}
.bg-dark {
    background-color: var(--primary-blue);
}
.text-light {
    color: var(--lightgray);
}