.p-24{
    padding: 24px;
}
.pt-24{
    padding-top: 24px;
}
.pr-24{
    padding-right: 24px;
}
.pb-24{
    padding-bottom: 24px;
}
.pl-24{
    padding-left: 24px;
}


.p-212{
    padding: 212px;
}
.pt-212{
    padding-top: 212px;
}
.pr-212{
    padding-right: 212px;
}
.pb-212{
    padding-bottom: 212px;
}
.pl-212{
    padding-left: 212px;
}


.p-14{
    padding: 14px;
}
.pt-14{
    padding-top: 14px;
}
.pr-14{
    padding-right: 14px;
}
.pb-14{
    padding-bottom: 14px;
}
.pl-14{
    padding-left: 14px;
}


.p-17{
    padding: 17px;
}
.pt-17{
    padding-top: 17px;
}
.pr-17{
    padding-right: 17px;
}
.pb-17{
    padding-bottom: 17px;
}
.pl-17{
    padding-left: 17px;
}


.p-84{
    padding: 84px;
}
.pt-84{
    padding-top: 84px;
}
.pr-84{
    padding-right: 84px;
}
.pb-84{
    padding-bottom: 84px;
}
.pl-84{
    padding-left: 84px;
}


.p-234{
    padding: 234px;
}
.pt-234{
    padding-top: 234px;
}
.pr-234{
    padding-right: 234px;
}
.pb-234{
    padding-bottom: 234px;
}
.pl-234{
    padding-left: 234px;
}