.height-20 {
    height: 20px;
}
.width-56 {
    width: 56px;
}

.width-88 {
    width: 88px;
}
.height-52 {
    height: 52px;
}
.height-140 {
    height: 140px;
}
.height-227 {
    height: 227px;
}
.width-223 {
    width: 223px;
}
.height-353 {
    height: 353px;
}
.height-388 {
    height: 388px;
}
.height-419 {
    height: 419px;
}
.width-480 {
    width: 480px;
}
.width-510 {
    width: 510;
}
.width-1062 {
    width: 1062px;
}
.width-1200 {
    width: 1200px;
}
.height-669 {
    height: 669px;
}
.width-75per {
    width: 75%;
}
.width-1176 {
    width: 1176px;
}
.width-112 {
    width: 112px;
}
.height-112 {
    height: 112px;
}
.height-614 {
    height: 614px;
}
.width-1099 {
    width: 1099px;
}
.width-60 {
    width: 60px;
}
.height-60 {
    height: 60px;
}


.top-0{
    top: 0;
}
.right-0{
    right: 0;
}
.bottom-0{
    bottom: 0;
}
.left-0{
    left: 0;
}
