.slider {
    background-color: var(--primary-blue);
    position: relative;
    margin-top: 0 !important;
}

.slider .full-container {
    display: flex;
    justify-content: space-between;
    gap: 17px;
    width: 1243px;

    margin: 0 auto;

}

.slider .words {
    padding-top: 138px;
}

.slider .dots-1,
.slider .dots-2 {
    position: absolute;
    width: 112px;
    height: 112px;
}

.slider .dots-1 {
    bottom: 27px;
    left: -57px;
    text-align: center;
}

.slider .dots-2 {
    top: 27px;
    right: -39px;
}

.slider .man {
    padding-top: 54px;
}

.slider .phrase-1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 140%
}

.slider .phrase-2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin: 23px 0;
}

.slider button {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}

.section-features {
    position: relative;
}

.section-features .h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 4.2px;
    padding-bottom: 18px;
}

.section-features .container-3 {
    width: 1099px;
    margin: 0 auto;
    text-align: center;
}

.section-features .subtitle {
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    line-height: 140%;
    padding-bottom: 76px;
}

.section-features .products {
    display: flex;
    gap: 110px;
}

.section-features .products .item img {
    width: 60px;
    height: 60px;
    margin-bottom: 34px;
}

.section-features .products .item .title {
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    color: var(--primary-blue);
    padding-bottom: 15px;
}

.section-features .products .item .subtitle2 {
    color: #949494;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.section-features .div-red-dots {
    position: absolute;
    top: 27px;
    left: -57px;
}

.info .container-4 {
    width: 1062px;
    margin: 0 auto;
    display: flex;
    position: relative;
    gap: 72px;
}

.info .container-4 .figures {
    display: flex;
    gap: 27px;
    width: 50%;
}

.info .container-4 .figures figure {
    width: 225px;
    height: 358px;
}

.info .container-4 .figures .notebook {
    margin-top: 68px;
}

.info .container-4 .red-dots {
    position: absolute;
    bottom: 39px;
    left: -36px;
    z-index: -3;
}

.service {
    background-color: var(--primary-blue);
}

.service .full-container-5 {
    width: 1080px;
    margin: 0 auto;
    padding: 99px 0;
}

.service .full-container-5 .h6 {
    text-align: center;
}

.service .full-container-5 .h1 {
    text-align: center;
    margin-bottom: 74px;
}

.service .full-container-5 .figures {
    display: flex;
    column-gap: 52px;

}

.service .full-container-5 .figure-1 {
    position: relative;
}

.service .full-container-5 .figure-1 .describtion {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: end;
    padding: 84px 37px;
}

.service .full-container-5 .figure-2 {
    position: relative;
}

.service .full-container-5 .figure-2 .describtion {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: end;
    padding: 84px 37px;
}


.service .full-container-5 .figures .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 140%;


}

.service .full-container-5 .figures .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    width: 388px;
    height: 123px;
}

.service .full-container-5 .title {
    margin-bottom: 20px;
}

.whoweare {
    width: 1121px;
    margin: 0 auto;
    display: flex;
    column-gap: 133px;
    position: relative;
}

.whoweare .dot-square {
    position: absolute;
    top: -3px;
    left: -15px;
    z-index: -3;
}

.whoweare figure {
    position: relative;
    width: 381px;
    height: 424px;
    margin-top: 34px;
    margin-left: 42px;
}

.whoweare figure .man-glasses {
    width: 381px;
    height: 424px;
}

.whoweare .small {
    position: absolute;
    width: 214px;
    height: 195px;
    right: 0;
    bottom: -32px;
}

.whoweare .text {
    width: 565px;
    text-align: start;
}

.whoweare .text .subtitles {
    height: 172px;
}

.whoweare .text .paragraph {
    width: 503px;
    height: 88px;
    margin-bottom: 28px;
}

.whoweare .text ol {
    width: 345px;
    height: 118px;
    color: rgba(152, 152, 152, 1);
}

.whoweare .text ol li:not(:last-child) {
    margin-bottom: 24px;
}


.projects {
    width: 1200px;
    margin: 0 auto;
}

.projects .titles,
.projects .subtitles {
    text-align: center;
}

.projects .subtitles {
    margin-bottom: 86px;
}

.projects .figures {
    display: flex;
    justify-content: space-between;
    column-gap: 29px;
}

.projects .figures figure {
    position: relative;
}

.projects .figures .describtion {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    padding: 24px 32px;
}

.projects .figures .title {
    font-size: 21px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 10px;
}

.projects .figures .title .text {
    /* width: 218px;
    height: 78px; */
}

.projects .figures .subtitles {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.consultation {
    width: 100%;
    height: 380px;
    background-image: url(/assets/img/background-image.png);
}

.consultation .container {
    width: 1131px;
    display: flex;
    justify-content: space-between;
    column-gap: 198px;
    align-items: center;
    height: 380px;
}

.consultation .container .subtitle {
    font-size: 42px;
    font-weight: 700;
    line-height: 149.5%;
}

.consultation .container button {
    white-space: nowrap;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 100%;
    padding: 30px 30px !important;
}